<div class="row product-details flex  m-10 justify-center items-center w-full" *ngIf="productdetail">
    <div class="col-sm-6">
    <img  class="product-img w-[500px] ml-14" src="{{productdetail.image}}" alt="product" >
    </div>
    <div class="col-sm-6">
        <div class="">
            <h1 class="m-1 p-2 text-green-500">{{productdetail.name}}</h1>
            <h3 class="m-1 p-2">Price : {{productdetail.price}}</h3>
            <div class="m-1 p-2">Color :<h3 [style.backgroundColor]="productdetail.color" class="product-color"></h3></div>
            <h6 class="m-1 p-2">Category : {{productdetail.category}}</h6>
            <h6 class="m-1 p-2">Description : {{productdetail.description}}</h6>
            <button class="form-button m-1">Buy Now</button>
            <button *ngIf="removeCart" class="form-button" (click)=" removeToCart(productdetail.id)">Remove to Cart</button>
            <button *ngIf="!removeCart" class="form-button" (click)="addToCart()">Add to Cart</button>
            <div class=" mt-[20px]">
                <button class="p-10px w-7 bg-slate-400" (click)="handleQuantity('min')" >-</button>
                <input type="text" class="w-[50px] p-[10px] ml-2" value="{{productQuantity}}" />
                <button class="p-10px w-7 bg-slate-400" (click)="handleQuantity('plus')">+</button>
    
            </div> 
        </div>
    </div>
    </div>